#texto{
border: solid;
color: black;
padding: 15px 32;
text-align: right;
text-decoration: none;
display: inline-block;
font-size: 70px;
font-family: monospace;
margin: 4px 2px;
cursor: pointer;
width: 98%;
box-shadow: 3px 3px 3px black;
background-color: white;
}
#boton{
background-color: white;
border: none;
color: black;
font-weight: bold;
padding: 6px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 60px;
margin: 4px;
font-family: monospace;
cursor: pointer;
box-shadow: 3px 3px 3px black;
}
#tabla{
background-color: #41035a;
padding: 5px 5px;
width: 40%;
height: 70%;
}